# Getting Financial Data - Google Finance

### Introduction:

This time you will get data from a website.


### Step 1. Import the necessary libraries

In [4]:
! pip install pandas_datareader

Collecting pandas_datareader
  Downloading pandas_datareader-0.9.0-py3-none-any.whl (107 kB)
Requirement already satisfied: requests>=2.19.0 in c:\users\owner\anaconda3\lib\site-packages (from pandas_datareader) (2.22.0)
Requirement already satisfied: pandas>=0.23 in c:\users\owner\anaconda3\lib\site-packages (from pandas_datareader) (1.0.1)
Requirement already satisfied: lxml in c:\users\owner\anaconda3\lib\site-packages (from pandas_datareader) (4.5.0)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\owner\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\owner\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\owner\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (1.25.8)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\owner\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2019.11.28)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\owner\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2.8.1)
Requirement already satisfied: numpy>=1.13.3 in c:\users\owner\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (1.18.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\owner\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2019.3)
Requirement already satisfied: six>=1.5 in c:\users\owner\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas>=0.23->pandas_datareader) (1.14.0)
Installing collected packages: pandas-datareader
Successfully installed pandas-datareader-0.9.0

In [5]:
import numpy as np
import pandas as pd

# package to extract data from various Internet sources into a DataFrame
# make sure you have it installed
from pandas_datareader import data, wb

# package for dates
import datetime as dt

### Step 2. Create your time range (start and end variables). The start date should be 01/01/2015 and the end should today (whatever your today is)

In [8]:
pd.date_range(start='01/01/2015', end=pd.to_datetime('today'))

DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04',
               '2015-01-05', '2015-01-06', '2015-01-07', '2015-01-08',
               '2015-01-09', '2015-01-10',
               ...
               '2020-12-21', '2020-12-22', '2020-12-23', '2020-12-24',
               '2020-12-25', '2020-12-26', '2020-12-27', '2020-12-28',
               '2020-12-29', '2020-12-30'],
              dtype='datetime64[ns]', length=2191, freq='D')

### Step 3. Select the Apple, Tesla, Twitter, IBM, LinkedIn stocks symbols and assign them to a variable called stocks

In [9]:
stock = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/09_Time_Series/Apple_Stock/appl_1980_2014.csv")
stock.head()

         Date   Open   High    Low  Close    Volume  Adj Close
0  2014-07-08  96.27  96.80  93.92  95.35  65130000      95.35
1  2014-07-07  94.14  95.99  94.10  95.97  56305400      95.97
2  2014-07-03  93.67  94.10  93.20  94.03  22891800      94.03
3  2014-07-02  93.87  94.06  93.09  93.48  28420900      93.48
4  2014-07-01  93.52  94.07  93.13  93.52  38170200      93.52

### Step 4. Read the data from google, assign to df and print it

### Step 5.  What is the type of structure of df ?

### Step 6. Print all the Items axis values
#### To learn more about the Panel structure go to [documentation](http://pandas.pydata.org/pandas-docs/stable/dsintro.html#panel)

### Step 7. Good, now we know  the data avaiable. Create a dataFrame called vol, with the Volume values.

### Step 8. Aggregate the data of Volume to weekly
#### Hint: Be careful to not sum data from the same week of 2015 and other years.

### Step 9. Find all the volume traded in the year of 2015

### BONUS: Create your own question and answer it.